.projects__Container{
    height: 100vh;   
}   
.project__card-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
    align-items: center;
    text-decoration: none;
    height: auto;
}

.project__Link{
    text-decoration: none;
}

@media screen and (max-width: 576px){
    .projects__Container{
        padding-top: 80px;
    }   
    .about__Title-Container{
        text-align: center;
    }
  }