.home__Content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    }
.home__Pic-Container{    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home__Pic{
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 576px){
    
}
