.contact__Main-container{
    height: auto;
    display: flex;
    flex-direction: row;    
    padding-top: 50px;
}

.text__Container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 100px;
}
.contact__Img{
    border-radius: 10px;

}
.contact__Text{
    font-size: 0.9rem;
    font-family: 'ClashGrotesk';
}
.form__Container{
    width: 100%;
}
.contact__Input{
    width: 75%;
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 10px 5px;
    font-family: 'ClashGrotesk';
}
.contact__Form-Btn{
    background-color: #09171B;
    color: #fff;   
    border-radius: 3px;
    font-family: 'ClashGrotesk';
}
.contact__Form-Btn:hover{
    background-color: #fff;   
    color: #09171B;     
    border-width: 1px;
    border-style: solid;    
    border-color: #09171B;
}

@media screen and (max-width: 576px){
    .contact__Main-container{        
        flex-direction: column;    
        padding-top: 75px;
    }
    .text__Container{
        width: 100%;        
        padding-right: 0;
    }
    .contact__Input{
        width: 100%;        
    }
  }