.navbar{
    flex-wrap: nowrap;
}
.navbar_Logo{
    width: 12%;
}

.navbar__Link{
    font-family: 'ClashGrotesk';
}


@media screen and (max-width: 576px){
    .navbar_Logo{
        width: 30%;
    }
  }