.footer__Container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
margin: 50px 0;
width: 100%;
padding: 0;
}
.footer__Logo{
    width: 8%;
}
.footer__Social-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialIcon{
    margin: 5px;
}
.footer__Copyright{
    font-family: 'ClashGrotesk';    
}

@media screen and (max-width: 768px){
    .footer__Logo{
        width: 10%;
    }
    .socialIcon{
        margin: 5px;
        font-size: 0.8rem;
    }   
    .footer__Copyright{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 576px){
    .footer__Container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .footer__Logo{
        width: 20%;
    }
    .socialIcon{
        margin: 10px;
        font-size: 0.5rem;
    }   
    .footer__Copyright{
        font-size: 0.5rem;        
    }
}