@font-face{
    font-family: 'ClashGrotesk';
    src: local('Fonts'),
    url('./fonts/ClashGrotesk-Bold.ttf');
    font-weight: bolder;
}
@font-face{
    font-family: 'ClashGrotesk';
    src: local('Fonts'),
    url('./fonts/ClashGrotesk-Extralight.ttf');
    font-weight: lighter;
}
@font-face{
    font-family: 'ClashGrotesk';
    src: local('Fonts'),
    url('./fonts/ClashGrotesk-Light.ttf');
    font-weight: light;
}
@font-face{
    font-family: 'ClashGrotesk';
    src: local('Fonts'),
    url('./fonts/ClashGrotesk-Medium.ttf');
    font-weight: normal;
}
@font-face{
    font-family: 'ClashGrotesk';
    src: local('Fonts'),
    url('./fonts/ClashGrotesk-Regular.ttf');
    font-weight: 500;
}
@font-face{
    font-family: 'ClashGrotesk';
    src: local('Fonts'),
    url('./fonts/ClashGrotesk-Semibold.ttf');
    font-weight: bold;
}
@font-face{
    font-family: 'ClashGrotesk';
    src: local('Fonts'),
    url('./fonts/ClashGrotesk-Variable.ttf');
    font-weight: 'variable';
}
a {
    text-decoration: none;
    color: black;
}